<br>
<h1 [routerLink]="['../../help']" fragment="editArc" style="margin-left: 30px;">Edit architect: </h1>
<mat-divider></mat-divider>


<div style="width: 60%;padding-right: 5px; float: right">

  <form #f="ngForm" (submit)="search()">
    <mat-form-field appearance="outline" style=" font-size:medium;width: 40%">
      <mat-label>Search</mat-label>
      <input matInput  [(ngModel)] = "searchModel.value" #value="ngModel"  name="input_value">
    </mat-form-field>

    <mat-form-field appearance="outline" style=" font-size:medium;margin-left: 2%; width: 20%">
      <mat-label>Parameter</mat-label>
      <mat-select [(ngModel)]="searchModel.parameter" name="input_parameter"
                  #parameter="ngModel">
        <mat-option *ngFor="let o of options" [value]="o"> {{o}}</mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-raised-button style="font-size:larger;margin-left:2%"> <mat-icon >search</mat-icon>Search</button>

  </form>

<div style="width: 100%; position: relative; left: 2px; float: left" class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="name" >
      <th mat-header-cell mat-sort-header *matHeaderCellDef style="font-size:medium;"> Name </th>
      <td mat-cell *matCellDef="let element" style="font-size:medium;"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="surname">
      <th mat-header-cell mat-sort-header *matHeaderCellDef style="font-size:medium;"> Surname </th>
      <td mat-cell *matCellDef="let element" style="font-size:medium;"> {{element.surname}} </td>
    </ng-container>

    <ng-container matColumnDef="dateBorn">
      <th mat-header-cell mat-sort-header *matHeaderCellDef style="font-size:medium;"> Birth </th>
      <td mat-cell *matCellDef="let element" style="font-size:medium;"> {{element.dateBorn.substr(0,10)}} </td>
    </ng-container>

    <ng-container matColumnDef="dateDeath">
      <th mat-header-cell mat-sort-header *matHeaderCellDef style="font-size:medium;"> Death </th>
      <td mat-cell *matCellDef="let element" style="font-size:medium;"> {{element.dateDeath}} </td>
    </ng-container>

    <ng-container matColumnDef="nationality">
      <th mat-header-cell mat-sort-header *matHeaderCellDef style="font-size:medium;"> Nationality </th>
      <td mat-cell *matCellDef="let element" style="font-size:medium;"> {{element.nationality}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns" style="font-size:medium;"></tr>
    <tr mat-row style="font-size:medium;"*matRowDef="let row; columns: displayedColumns;" (dblclick)="deleteRow(row, f)" (click)="selectionChanged(row)"></tr>
  </table>

  <mat-paginator style="font-size:small;" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>

  <br>
  <br>
</div>








<div style="padding-top:0.4%; float: left; width: 36%">
  <form  #f="ngForm" (submit)="f.form.valid && editArchitect()"  style="padding-left: 25px;">

    <mat-form-field appearance="outline" style="font-size:medium;width: 40%">
      <mat-label>Architect</mat-label>
      <input matInput  [(ngModel)] = "model.id" #id="ngModel" name="input_architect_id"
             required readonly [disabled]="this.model.id === null">
    </mat-form-field>

    <mat-form-field appearance="outline" style="font-size:medium;width:40%; padding-left: 25px;">
      <mat-label>Nationality</mat-label>
      <input matInput  [(ngModel)] = "model.nationality" #nationality="ngModel"  name="input_nationality"
             pattern="[A-Z][a-z]+" required [disabled]="this.model.id === null">
      <mat-error *ngIf="nationality.invalid && nationality.errors?.pattern">
        Invalid name format! Example: Serbian
      </mat-error>
    </mat-form-field>

    <br>

    <mat-form-field appearance="outline"style="font-size:medium;width: 40%">
      <mat-label>Name</mat-label>
      <input matInput  [(ngModel)] = "model.name" #name="ngModel"  name="input_name"
             pattern="[A-Z][a-z]*( [A-Z]?[a-z]*)*" required [disabled]="this.model.id === null">
      <mat-error *ngIf="name.invalid && name.errors?.pattern">
        Invalid name format! Example: Tony
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" style="font-size:medium;width:40%; padding-left: 25px;">
      <mat-label>Surname</mat-label>
      <input matInput  [(ngModel)] = "model.surname" #surname="ngModel"  name="input_surname"
             pattern="[A-Z][a-z]*( [A-Z]?[a-z]*)*" required [disabled]="this.model.id === null">
      <mat-error *ngIf="surname.invalid && surname.errors?.pattern">
        Invalid name format! Example: Stark
      </mat-error>
    </mat-form-field>

    <br>

    <mat-form-field appearance="outline" style="font-size:medium;width: 40%">
      <mat-label>Choose a date of birth</mat-label>
      <input #dateBorn="ngModel" [(ngModel)]="model.dateBorn" [max]="ago20years"
             [matDatepicker]="picker1" matInput name="input_dateBorn" readonly required [disabled]="this.model.id === null">
      <mat-datepicker-toggle matSuffix   [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1 ></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline" style="font-size:medium;width:40%; padding-left: 25px;">
      <mat-label>Choose a date of death</mat-label>
      <input #dateDeath="ngModel" [(ngModel)]="model.dateDeath" [max]="today"
             [matDatepicker]="picker2" matInput name="input_dateDeath" readonly [disabled]="this.model.id === null">
      <mat-datepicker-toggle matSuffix   [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2 ></mat-datepicker>
    </mat-form-field>

    <br>
    <br>

    <mat-radio-group style="width:90%; font-size:larger; float: left"  [(ngModel)]="selected_map" [ngModelOptions]="{standalone: true}"  [disabled]="this.model.id === null"  >Select: &nbsp;&nbsp;
      <mat-radio-button [value]="1">Map 1 &nbsp;</mat-radio-button>
      <mat-radio-button [value]="2">Map 2 &nbsp;</mat-radio-button>
      <mat-radio-button [value]="3">Map 3 &nbsp;</mat-radio-button>
      <mat-radio-button [value]="4">Map 4 &nbsp;</mat-radio-button>
    </mat-radio-group>


    <br>
    <br>
    <input #imageInput type="file" (change)="onImg($event)"  style="display:none;"
           accept="image/jpeg, .jpeg, image/png, .png, image/pjpeg, .jpg">


    <button style="font-size:larger;background-color: limegreen" type="button" (click)="imageInput.click()" [disabled]="this.model.id === null" mat-raised-button>
      <mat-icon >arrow_circle_up</mat-icon>Add photo
    </button>
    &nbsp;
    <button style="font-size:larger;background-color: tomato" type="button" (click)="removeInput()" [disabled]="this.model.id === null" mat-raised-button>
      <mat-icon >arrow_circle_down</mat-icon>Remove photo
    </button>
    <br>
    <br>
    <label style="font-size: larger">Photo: </label>
    <br>
    <label style="padding-right: 25px; ">
      <output>
        <img *ngIf="model.photo !== ''" style="width:250px;" [src]="model.photo"  alt="Nothing to preview">
      </output>
    </label>

    <br>
    <br>

    <button mat-raised-button [disabled]="this.model.id === null" style="font-size:larger;background-color: limegreen">Save changes</button>

    <br>
    <br>
  </form>
</div>
