table{ width: 100%;
}

.mat-row:hover {
  background-color: lightgray;
  cursor: pointer;
}

:host ::ng-deep .mat-sort-header-container {
  display: flex;
  justify-content: center;
}

.mat-header-cell {
  flex-direction: column;
  justify-content: center;
}

.mat-cell {
  text-align: center;
  justify-content:center;
}

::ng-deep .mat-icon{
  height:35px !important;
  width:35px !important;
  font-size:35px !important;
}
