<br>
<h1  [routerLink]="['../../help']" fragment="editArcWork" style="margin-left: 30px;">Edit architectural works: </h1>
<mat-divider></mat-divider>

<div style="width: 60%; padding-right: 5px; float: right">

  <form #f1="ngForm" (submit)="search()">
    <mat-form-field appearance="outline" style="font-size:medium;width: 40%">
      <mat-label>Search</mat-label>
      <input matInput  [(ngModel)] = "searchModel.value" #value="ngModel"  name="input_value">
    </mat-form-field>

    <mat-form-field appearance="outline" style=" font-size:medium;margin-left: 2%; width: 20%">
      <mat-label>Parameter</mat-label>
      <mat-select [(ngModel)]="searchModel.parameter" name="input_parameter"
                  #parameter="ngModel">
        <mat-option *ngFor="let o of options" [value]="o"> {{o}}</mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-raised-button style="font-size:larger;margin-left:2%"> <mat-icon >search</mat-icon>Search</button>

  </form>

<div style="width: 100%; position: relative; left: 2px; float: left" class="mat-elevation-z8">
  <table  mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="name">
      <th mat-header-cell mat-sort-header *matHeaderCellDef style="font-size:medium;"> Name </th>
      <td mat-cell *matCellDef="let element" style="font-size:medium;"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="yearBuilt">
      <th mat-header-cell mat-sort-header *matHeaderCellDef style="font-size:medium;"> Year Built </th>
      <td mat-cell *matCellDef="let element" style="font-size:medium;"> {{element.yearBuilt.substr(0,10)}} </td>
    </ng-container>

    <ng-container matColumnDef="architectId">
      <th mat-header-cell mat-sort-header *matHeaderCellDef style="font-size:medium;"> Architect ID </th>
      <td mat-cell *matCellDef="let element" style="font-size:medium;"> {{element.architectId}} </td>
    </ng-container>

    <ng-container matColumnDef="city">
      <th mat-header-cell mat-sort-header *matHeaderCellDef style="font-size:medium;"> City </th>
      <td mat-cell *matCellDef="let element" style="font-size:medium;"> {{element.city}} </td>
    </ng-container>

    <ng-container matColumnDef="epoch">
      <th mat-header-cell mat-sort-header *matHeaderCellDef style="font-size:medium;"> Epoch </th>
      <td mat-cell *matCellDef="let element" style="font-size:medium;"> {{element.epoch}} </td>
    </ng-container>

    <ng-container matColumnDef="worldWonder">
      <th mat-header-cell mat-sort-header *matHeaderCellDef style="font-size:medium;"> World Wonder </th>
      <td mat-cell *matCellDef="let element" style="font-size:medium;">
        <mat-icon *ngIf="element.worldWonder == true" style="color: green;" aria-hidden="false" aria-label="Example home icon">done</mat-icon>
        <mat-icon *ngIf="element.worldWonder == false" style="color: red;" aria-hidden="false" aria-label="Example home icon">clear</mat-icon> </td>
    </ng-container>

    <ng-container matColumnDef="protectedWork">
      <th mat-header-cell mat-sort-header *matHeaderCellDef style="font-size:medium;"> Protected Work </th>
      <td mat-cell *matCellDef="let element" style="font-size:medium;">
        <mat-icon *ngIf="element.protectedWork == true" style="color: green;" aria-hidden="false" aria-label="Example home icon">done</mat-icon>
        <mat-icon *ngIf="element.protectedWork == false" style="color: red;" aria-hidden="false" aria-label="Example home icon">clear</mat-icon></td>r
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns" style="font-size:medium;"></tr>
    <tr mat-row style="font-size:medium;" *matRowDef="let row; columns: displayedColumns;" (dblclick)="deleteRow(row, f)" (click)="selectionChanged(row)"></tr>
  </table>

  <mat-paginator style="font-size:medium;" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>

  <br>
  <br>






</div>



<div style="padding-top:0.4%; float: left; width: 36%">
  <form  #f="ngForm" (submit)="f.form.valid && EditArchWork(f)"  style="padding-left: 25px;">

    <mat-form-field appearance="outline" style="font-size:medium;width: 40%">
      <mat-label>Name</mat-label>
      <input matInput  [(ngModel)] = "model.name" #name="ngModel"  name="input_name"
             pattern="[A-Z][a-z]*( [A-Z]?[a-z]*)*" required [disabled]="this.model.id === null">
      <mat-error *ngIf="name.invalid && name.errors?.pattern">
        Invalid name format! Example: Theatre de Stoep
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline"style="font-size:medium;width:40%; padding-left: 25px;">
      <mat-label>Architect</mat-label>
      <input matInput  [(ngModel)] = "model.architectId" #architectId="ngModel" name="input_architect_id"
             required [disabled]="this.model.id === null" readonly>
    </mat-form-field>

    <br>

    <mat-form-field appearance="outline" style="font-size:medium;width: 40%">
      <mat-label>Purpose</mat-label>
      <input matInput  [(ngModel)] = "model.purpose" #purpose="ngModel" name="input_purpose"
             required [disabled]="this.model.id === null">
    </mat-form-field>


    <mat-form-field appearance="outline" style="font-size:medium;width:40%;padding-left: 25px;">
      <mat-label>Epoch</mat-label>
      <mat-select  [(ngModel)] = "model.epoch" name="input_epoch" #epoch="ngModel"  [disabled]="this.model.id === null" required>
        <mat-option *ngFor="let e of epochs" [value]="e"> {{e}}</mat-option>
      </mat-select>
    </mat-form-field>

    <br>

    <div>
      <span style="float: left;width: 40%">
    <mat-form-field appearance="outline"style="font-size:medium;width: 100%">
      <mat-label>Description</mat-label>
      <textarea rows="6" matInput  [(ngModel)] = "model.description" #description="ngModel" name="input_description"
                required style=" resize: none" [disabled]="this.model.id === null"> </textarea>
    </mat-form-field>
    </span>

      <span  style="padding-left: 25px;width: 60%">

        <mat-form-field appearance="outline" style="font-size:medium;width: 40%">
      <mat-label>Choose a date</mat-label>
      <input #yearBuilt="ngModel" [(ngModel)]="model.yearBuilt" [max]="today"
             [matDatepicker]="picker" matInput name="input_year_built" readonly required [disabled]="this.model.id === null">
      <mat-datepicker-toggle matSuffix   [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker ></mat-datepicker>
    </mat-form-field>


    <br>
    <mat-checkbox style="font-size:larger;padding-left: 25px; "   color="warn" [disabled]="this.model.id === null"  [checked]="this.model.worldWonder === true" (change) = "wonderChanged($event)">World Wonder?</mat-checkbox>

    <mat-checkbox style="font-size:larger;padding-left: 25px; "   color="warn" [disabled]="this.model.id === null" [checked]="this.model.protectedWork === true" (change) = "protectedChanged($event)" >Protected by country/organization?</mat-checkbox>
    </span>

    </div>

    <br>
    <br>

    <mat-radio-group style=" width:90%; font-size:larger;"  [(ngModel)]="selected_map" [ngModelOptions]="{standalone: true}"  [disabled]="this.model.id === null"  aria-label="Select">Select: &nbsp;&nbsp;
      <mat-radio-button [value]="1">Map 1 &nbsp;</mat-radio-button>
      <mat-radio-button [value]="2">Map 2 &nbsp;</mat-radio-button>
      <mat-radio-button [value]="3">Map 3 &nbsp;</mat-radio-button>
      <mat-radio-button [value]="4">Map 4 &nbsp;</mat-radio-button>
    </mat-radio-group>


    <br>
    <br>

    <input #imageInput type="file" (change)="onImg($event)"  style="display:none;"
           accept="image/jpeg, .jpeg, image/png, .png, image/pjpeg, .jpg">


    <button type="button" style="font-size:larger;background-color: limegreen" (click)="imageInput.click()" [disabled]="this.model.id === null" mat-raised-button>
      <mat-icon >arrow_circle_up</mat-icon> Add icon
    </button>
    &nbsp;&nbsp;
    <button style="font-size:larger;background-color: tomato" type="button" (click)="removeInput()" [disabled]="this.model.id === null" mat-raised-button>
      <mat-icon >arrow_circle_down</mat-icon> Remove icon
    </button>
    <br>
    <br>
    <label style="font-size: larger">Icon: </label>
    <br>
    <label style="padding-right: 25px; ">
      <output>
        <img *ngIf="model.icon !== ''" style="width:250px;" [src]="model.icon"  alt="Nothing to preview">
      </output>
    </label>

    <br>
    <br>

    <button mat-raised-button  style="font-size:larger;background-color: limegreen" [disabled]="this.model.id === null">Save changes</button>

    <br>
    <br>
  </form>
</div>
