<br>
<h1 style="margin-left: 30px;">Help </h1>
<mat-divider></mat-divider>

<br>
<h3 id="addArc"  style="margin-left: 30px;">Add architect </h3>
<h4 style="margin-left: 10%">On this page our users are able to add new architect to database. They achieve that by filling the form that can be seen on the left side of the page. Form fields include: architect's human-readable id(required), map(required), name(required), surname(required), date of birth(required), date of death(optional), nationality(required) and photo(optional). Photo can be added by clicking the "Add photo" button, as well as be removed by clicking the "Remove photo" button. Once form is filled, user can add architect to database by clicking the button "Add architect". After that, new architect will be visible on the previously selected map(right side of the screen) along with other architects(if there are any in database). User can drag the architect across the map and the changes will be automatically saved.</h4>
<mat-divider></mat-divider>

<br>
<h3 id="addArcWork"style="margin-left: 30px;">Add architectural work </h3>
<h4 style="margin-left: 10%">On this page our users are able to add new architectural work to database. They achieve that by filling the form that can be seen on the left side of the page. Form fields include: name(required), purpose(required), epoch(required), year when built(required), description(required), map(required), world wonder(optional), protected(optional), architect(required) and photo(optional). Photo can be added by clicking the "Add icon" button, as well as be removed by clicking the "Remove photo" button. Once form is filled, user can add architectural work to database by clicking the button "Add architectural work". After that, new architectural work will be visible on the map(right side of the screen) connected to the previously selected architect along with other architects and their works(if there are any in database). User can drag architects and their works across the map and the changes will be automatically saved.</h4>
<mat-divider></mat-divider>
<br>
<h3 id="editArc" style="margin-left: 30px;">Edit architect  </h3>
<h4 style="margin-left: 10%">On this page our users are able to see the table of architects on the left side of the page, as well as disabled form on the right page. By clicking on the architect in the table, the said form is filled with that architect's data. User can modify data and then save changes by clicking the "Edit architect" button. Once that's done, the table of architects is updated.</h4>
<mat-divider></mat-divider>

<br>
<h3 id="editArcWork" style="margin-left: 30px;">Edit architectural work  </h3>
<h4 style="margin-left: 10%">On this page our users are able to see the table of architectural works on the left side of the page, as well as disabled form on the right page. By clicking on the architectural work in the table, the said form is filled with that architectural work's data. User can modify data and then save changes by clicking the "Edit architectural work" button. Once that's done, the table of architectural works is updated.</h4>
<mat-divider></mat-divider>

<br>
<h3 id="mapView" style="margin-left: 30px;">Map view </h3>
<h4 style="margin-left: 10%">On this page users are able to see architects and their works on the map. User can change map and see data on the selected map. Main purpose of this page is searching and filtering the data. On the left side of the page is filter form with parameters for both architects and their works. By selecting parameters and clicking the "Apply" button, map data will be filtered. Above the said filter form there is a search form, where user can type name/surname or both of the architect or architectural work. By clicking the "Search" button, the map data will be modified, with search result being highlighted.</h4>
<mat-divider></mat-divider>

<br>
<h3  id="tableView" style="margin-left: 30px;">Table view </h3>
<h4 style="margin-left: 10%">On this page users are able to see architects and their works. Initially, only architects are visible, but once architect is clicked, the sub-table is shown, including the selected architect's works. Main purpose of this page is searching and filtering the data. On the left side of the page is filter form with parameters for both architects and their works. By selecting parameters and clicking the "Apply" button, table data will be filtered. Above the said table there is a search form, where user can type name/surname or both of the architect or architectural work. By clicking the "Search" button, the table data will be modified, with search result being highlighted.</h4>
<mat-divider></mat-divider>

<br>
<h3  id="demo" style="margin-left: 30px;">Demo  </h3>
<h4 style="margin-left: 10%">On this page users can see videos of certain parts of application. The main purpose of this is to show users how is one functionality(for instance - adding the architects) used "in practice".</h4>
<mat-divider></mat-divider>
