<br>
<h1 [routerLink]="['../../help']" fragment="addArcWork" style="margin-left: 30px;">Add new architectural work: </h1>
<mat-divider></mat-divider>

<div style="padding-top:0.4%; float: left; width: 36%" >
  <form #f="ngForm" (submit)="f.form.valid && AddArchWork(f)" style="padding-left: 25px;">

    <mat-form-field appearance="outline" style="font-size:medium;width: 40%">
      <mat-label>Name</mat-label>
      <input matInput  [(ngModel)] = "model.name" #name="ngModel"  name="input_name"
             pattern="[A-Z][a-z]*( [A-Z]?[a-z]*)*" required>
      <mat-error *ngIf="name.invalid && name.errors?.pattern">
        Invalid name format! Example: Theatre de Stoep
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" style="font-size:medium;width:40%; padding-left: 25px;">
      <mat-label>Architect</mat-label>
      <mat-select  [(ngModel)] = "model.architectId" name="input_architect_id" #architectId="ngModel" required>
        <mat-option *ngFor="let a of arch_ids" [value]="a.id"> {{a.name}} {{a.surname}}, {{a.id}}</mat-option>
      </mat-select>
    </mat-form-field>

    <br>

    <mat-form-field appearance="outline" style="font-size:medium;width: 40%">
      <mat-label>Purpose</mat-label>
      <input matInput  [(ngModel)] = "model.purpose" #purpose="ngModel" name="input_purpose"
             required>
    </mat-form-field>

    <mat-form-field appearance="outline" style="font-size:medium;width:40%;padding-left: 25px;">
      <mat-label>Epoch</mat-label>
      <mat-select  [(ngModel)] = "model.epoch" name="input_epoch" #epoch="ngModel" required>
        <mat-option *ngFor="let e of epochs" [value]="e"> {{e}}</mat-option>
      </mat-select>
    </mat-form-field>

    <br>

    <div>
      <span style="float: left;width: 40%" >
    <mat-form-field appearance="outline" style="font-size:medium;width: 100%" >
      <mat-label>Description</mat-label>
      <textarea rows="6" matInput  [(ngModel)] = "model.description" #description="ngModel" name="input_description"
                required style=" resize: none"> </textarea>
    </mat-form-field>
    </span>

    <span style="padding-left: 25px;width: 60%">

       <mat-form-field appearance="outline"style="font-size:medium;width: 40%" >
      <mat-label>Choose a date</mat-label>
      <input #yearBuilt="ngModel" [(ngModel)]="model.yearBuilt" [max]="today"
             [matDatepicker]="picker" matInput name="input_year_built" readonly required>
      <mat-datepicker-toggle matSuffix   [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker ></mat-datepicker>
    </mat-form-field>


    <br>
    <mat-checkbox style="font-size:larger;padding-left: 25px; " color="warn" (change) = "wonderChanged($event)">World Wonder?</mat-checkbox>
    <br>
    <mat-checkbox style="font-size:larger;padding-left: 25px; " color="warn" (change) = "protectedChanged($event)" >Protected by country/organization?</mat-checkbox>
    </span>



    </div>
   <br>
    <mat-radio-group style=" width:90%; font-size:larger; float: left" [(ngModel)]="selected_map" [ngModelOptions]="{standalone: true}"  (change)="onItemChange()" >Select: &nbsp;&nbsp;
      <mat-radio-button [value]="1">Map 1 &nbsp;</mat-radio-button>
      <mat-radio-button [value]="2">Map 2 &nbsp;</mat-radio-button>
      <mat-radio-button [value]="3">Map 3 &nbsp;</mat-radio-button>
      <mat-radio-button [value]="4">Map 4 &nbsp;</mat-radio-button>
    </mat-radio-group>


    <br>

    <input #imageInput type="file" (change)="onImg($event)"  style="display:none;"
           accept="image/jpeg, .jpeg, image/png, .png, image/pjpeg, .jpg">

    <br><br>
    <button type="button"  style="font-size:larger;background-color: limegreen" (click)="imageInput.click()" mat-raised-button>
      <mat-icon >arrow_circle_up</mat-icon> Add icon
    </button>
    &nbsp;
    <button style="font-size:larger;background-color: tomato" type="button" (click)="removeInput()" mat-raised-button>
      <mat-icon >arrow_circle_down</mat-icon> Remove icon
    </button>
    <br>
    <br>
    <label style="font-size: larger">Icon: </label>
    <br>
    <label style="padding-left: 25px; ">
      <output>
        <img *ngIf="model.icon !== ''" style="width:250px;"  [src]="model.icon"  alt="Nothing to preview">
      </output>
    </label>

    <br>
    <button mat-raised-button  style="font-size:larger;background-color: limegreen" >Add architectural work</button>
  </form>


</div>


<div style=" padding-top:0.5%; float:right; width: 59%;">

  <div style="height: 550px; width: 900px" ng-controller="DraggingMarkersController"
       leaflet
       [leafletOptions]="options"
       [leafletLayers]="layerMainGroup">
  </div>
  <br>


</div>
