<mat-toolbar color="primary">

  <span class="material-icons" style="margin-left: 5%;">architecture</span>

  <span [routerLink]="['']"  title="Map of architects and their works (shift + b)">ArchMap</span>

  <button button mat-flat-button color="primary" title="Add architects or their works" style="margin-left: 3%;" [matMenuTriggerFor]="menu">Add</button>
  <mat-menu #menu="matMenu">
    <a  [routerLink]="['architect/addArchitect']" style="margin-left: 3%;" ><button mat-flat-button >Architect (shift + a)</button></a>
    <a  [routerLink]="['architecturalWork/addArchitecturalWork']" style="margin-left: 3%;" ><button mat-flat-button  >Architectural work (shift + w)</button></a>
  </mat-menu>

  <button button mat-flat-button color="primary" title="Edit architects or their works" style="margin-left: 3%;" [matMenuTriggerFor]="menu1">Edit</button>
  <mat-menu #menu1="matMenu">
    <a  [routerLink]="['architect/editArchitect']" style="margin-left: 3%;" ><button mat-flat-button >Architect (alt + a)</button></a>
    <a  [routerLink]="['architecturalWork/editArchitecturalWork']" style="margin-left: 3%;" ><button mat-flat-button  >Architectural work (alt + w)</button></a>
  </mat-menu>

  <a [routerLink]="['tables']" style="margin-left: 3%;" title="Table of architects and their works (shift + v)"><button mat-flat-button color="primary" >View</button></a>
  <a [routerLink]="['help']" style="margin-left: 3%;" title="Mini documentation on application work (shift + h / f1)"><button mat-flat-button color="primary" >Help</button></a>
  <a [routerLink]="['demo']" style="margin-left: 3%;" title="Video demonstrations on application work (shift + d)"><button mat-flat-button color="primary" >Demo</button></a>

  <span class="example-spacer"> </span>

</mat-toolbar>
