<h1 [routerLink]="['../help']" fragment="tableView" style="margin-top: 1%;margin-left: 1%;">Search and filter: </h1>
    <mat-divider></mat-divider>

<div style="float: left;width: 40%;height: 100%;margin-top: 2%;margin-left: 3%;">
    <mat-tab-group dynamicHeight mat-stretch-tabs mat-align-tabs="center"
    style="width: 100%;height: 100%;margin-bottom: 0px;border: solid gray 1px;border-radius: 25px;" appearance="outline">            <mat-tab label="Architect filters">
            <div style="margin-top:2%; margin-left: 6%;">
                <mat-checkbox style="font-size: larger" color="primary" (change) = "filter($event,'birth')">Birth date</mat-checkbox>
                <br>
                <br>
                    <div style="margin-left: 7%">
                        <mat-form-field appearance="outline" style="font-size:medium;width: 40%;margin-right: 3%;">
                            <mat-label>From</mat-label>
                            <input matInput #birth_from="ngModel" [(ngModel)]="this.birth_param.date_from" [max]="this.birth_param.date_to" [matDatepicker]="picker">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>

                        <mat-form-field  appearance="outline" style="font-size:medium;width: 40%">
                            <mat-label>To</mat-label>
                            <input #birth_to="ngModel" [(ngModel)]="this.birth_param.date_to" [min]="this.birth_param.date_from" matInput [matDatepicker]="picker2">
                            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                            <mat-datepicker #picker2></mat-datepicker>
                        </mat-form-field>
                    </div>
                <mat-checkbox style="font-size: larger"  color="primary" (change) = "filter($event,'death')">Death date</mat-checkbox>
                    <br>
                    <br>
                    <div style="margin-left: 7%;">
                        <mat-form-field appearance="outline" style="font-size:medium;width: 40%;margin-right: 3%;">
                            <mat-label>From</mat-label>
                            <input #death_from="ngModel" [(ngModel)]="this.death_param.date_from" [max]="this.death_param.date_to" matInput [matDatepicker]="picker3">
                            <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                            <mat-datepicker #picker3></mat-datepicker>
                        </mat-form-field>

                        <mat-form-field  appearance="outline" style="font-size:medium;width: 40%">
                            <mat-label>To</mat-label>
                            <input #death_to="ngModel" [(ngModel)]="this.death_param.date_to" [min]="this.death_param.date_from" matInput [matDatepicker]="picker4">
                            <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                            <mat-datepicker #picker4></mat-datepicker>
                        </mat-form-field>
                    </div>
                <mat-checkbox color="primary" (change) = "filter($event,'nationality')">Nationality</mat-checkbox>
                <br>
                <br>
                    <div style="margin-left:4%">
                        <mat-form-field appearance="outline" style="padding-left: 25px; font-size:medium;width: 40%;">
                            <mat-label>Pick one</mat-label>
                            <mat-select  [(ngModel)] = "this.nationality_param.value1" name="input_map" #nationality="ngModel">
                            <mat-option *ngFor="let e of nationalities" [value]="e"> {{e}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
            </div>
        </mat-tab>
        <mat-tab label="Work filters">
        <div>
            <div style="width: 40%;height:45%;float:left;margin-top: 3%;margin-left: 3%;">
                    <mat-checkbox color="primary" (change) = "filter($event,'epoch')">Epoch</mat-checkbox>
                        <div style="margin-left:3%;margin-top: 8%;">
                            <mat-form-field appearance="outline" style="padding-left: 25px; font-size:medium;width: 90%">
                                <mat-label>Pick one</mat-label>
                                <mat-select  [(ngModel)] = "this.epoch_param.value1" name="epoch" #epoch="ngModel">
                                <mat-option *ngFor="let e of epochs" [value]="e"> {{e}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                <mat-checkbox color="primary" (change) = "filter($event,'world_wonder')">World wonder</mat-checkbox>
              <br>
                <br>
                    <mat-radio-group  [(ngModel)]="this.world_wonder_param.value1" style="font-size: larger;margin-left: 9%;" >
                        <mat-radio-button [value]="true">Yes</mat-radio-button> &nbsp;
                        <mat-radio-button [value]="false">No</mat-radio-button>
                    </mat-radio-group>
                <br><br>


            </div>
            <div style="float: right;width: 50%;margin-left: 5%;margin-top: 3%;height: 50%;">
                <mat-checkbox color="primary" (change) = "filter($event,'purpose')">Purpose</mat-checkbox>
                    <br>
                    <br>
                        <div style="margin-left:3%">
                            <mat-form-field appearance="outline" style="font-size:medium;width: 80%">
                                <mat-label>Pick one</mat-label>
                                <mat-select  [(ngModel)] = "this.purpose_param.value1" name="input_map" #map="ngModel">
                                <mat-option *ngFor="let e of purposes" [value]="e"> {{e}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                <mat-checkbox color="primary" (change) = "filter($event,'protected')">Protected work</mat-checkbox>
                <br><br>
                <mat-radio-group  [(ngModel)]="this.protected_work_param.value1" style="font-size: larger;margin-left: 9%;">
                    <mat-radio-button [value]="true">Yes</mat-radio-button> &nbsp;
                    <mat-radio-button [value]="false">No</mat-radio-button>
                </mat-radio-group>
                <br>
            </div>
            <div style="float: left; width: 100%;margin-left: 3%;">
            <mat-checkbox color="primary" (change) = "filter($event,'year_built')">Year built</mat-checkbox>
                    <br>
                    <br>
                    <div style="margin-left: 5%;">
                        <mat-form-field appearance="outline" style="font-size:medium;width:40%;margin-right: 3%;">
                            <mat-label>From</mat-label>
                            <input #year_built_from="ngModel" [(ngModel)]="this.year_built_param.date_from" [max]="this.year_built_param.date_to" matInput [matDatepicker]="picker5">
                            <mat-datepicker-toggle matSuffix [for]="picker5"></mat-datepicker-toggle>
                            <mat-datepicker #picker5></mat-datepicker>
                        </mat-form-field>

                        <mat-form-field  appearance="outline"  style="font-size:medium;width:40%;">
                            <mat-label>To</mat-label>
                            <input #year_built_to="ngModel" [(ngModel)]="this.year_built_param.date_to" [max]="this.year_built_param.date_from"  matInput [matDatepicker]="picker6">
                            <mat-datepicker-toggle matSuffix [for]="picker6"></mat-datepicker-toggle>
                            <mat-datepicker #picker6></mat-datepicker>
                        </mat-form-field>
                    </div>
            </div>

        </div>
        </mat-tab>
    </mat-tab-group>
    <button mat-raised-button style="font-size: larger; margin-left:84%;margin-top: 2%;" (click)="goFilter()"> <mat-icon >search</mat-icon>Apply filter</button>

</div>

<div style="float: right; width: 50%;margin-top:2%;margin-right: 3%;">
    <form #f="ngForm">
        <mat-form-field appearance="outline" style="padding-left: 25px; font-size:medium;width: 40%">
        <mat-label>Search</mat-label>
        <input matInput  [(ngModel)] = "searchVal" #value="ngModel"  name="input_value">
        </mat-form-field>

        <button mat-raised-button style="font-size: larger; margin-left:2%" (click)="search()"> <mat-icon >search</mat-icon>Search</button>

    </form>

</div>

<div class="table-container" style="float: right;margin-right: 3%;">
    <table mat-table style="width:100%;height: 100%;"
            [dataSource]="dataSource" multiTemplateDataRows
            class="mat-elevation-z8">

            <ng-container matColumnDef="name">
                <th style="font-size:medium;" mat-header-cell *matHeaderCellDef> Name </th>
                <td  style="font-size:medium;" mat-cell *matCellDef="let element" style="width: 15%;"> {{element.name}} </td>
            </ng-container>

            <ng-container matColumnDef="surname">
                <th style="font-size:medium;" mat-header-cell *matHeaderCellDef> Surname </th>
                <td style="font-size:medium;" mat-cell *matCellDef="let element" style="width: 15%;"> {{element.surname}} </td>
            </ng-container>

            <ng-container matColumnDef="birth">
                <th style="font-size:medium;" mat-header-cell *matHeaderCellDef> Birth </th>
                <td style="font-size:medium;" mat-cell *matCellDef="let element" style="width: 15%;"> {{this.datePipe.transform(element.dateBorn, 'yyyy-MM-dd')}} </td>
            </ng-container>

            <ng-container matColumnDef="death">
                <th style="font-size:medium;" mat-header-cell *matHeaderCellDef> Death </th>
                <td style="font-size:medium;" mat-cell *matCellDef="let element" style="width: 15%;"> {{this.datePipe.transform(element.dateDeath, 'yyyy-MM-dd')}} </td>
            </ng-container>

            <ng-container matColumnDef="nationality">
                <th style="font-size:medium;" mat-header-cell *matHeaderCellDef> Nationality </th>
                <td style="font-size:medium;" mat-cell *matCellDef="let element" style="width: 15%;"> {{element.nationality}} </td>
            </ng-container>


            <ng-container matColumnDef="expandedDetail" >
                <td style="font-size:medium;" mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
                <div class="example-element-detail" *ngIf="element.works.length > 0"
                    [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                    <table mat-table style="width:100%;"
                    [dataSource]="element.works" multiTemplateDataRows
                    class="mat-elevation-z8">

                    <ng-container matColumnDef="name">
                        <th style="font-size:medium;" mat-header-cell *matHeaderCellDef> Name </th>
                        <td style="font-size:medium;" mat-cell *matCellDef="let element" style="width: 15%;"> {{element.name}} </td>
                    </ng-container>

                    <ng-container matColumnDef="yearBuilt">
                        <th  style="font-size:medium;" mat-header-cell *matHeaderCellDef> Year built </th>
                        <td  style="font-size:medium;" mat-cell *matCellDef="let element" style="width: 15%;"> {{this.datePipe.transform(element.yearBuilt, 'yyyy-MM-dd')}} </td>
                    </ng-container>

                    <ng-container matColumnDef="epoch">
                        <th style="font-size:medium;" mat-header-cell *matHeaderCellDef> Epoch </th>
                        <td style="font-size:medium;" mat-cell *matCellDef="let element" style="width: 15%;"> {{element.epoch}} </td>
                    </ng-container>

                    <ng-container matColumnDef="worldwonder">
                        <th style="font-size:medium;" mat-header-cell *matHeaderCellDef> World wonder </th>
                        <td style="font-size:medium;" mat-cell *matCellDef="let element" style="width: 15%;">
                            <mat-icon *ngIf="element.worldWonder == true" style="color: green;" aria-hidden="false" aria-label="Example home icon">done</mat-icon>
                            <mat-icon *ngIf="element.worldWonder == false" style="color: red;" aria-hidden="false" aria-label="Example home icon">clear</mat-icon>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="protectedwork">
                        <th  style="font-size:medium;" mat-header-cell *matHeaderCellDef> Protected work </th>
                        <td style="font-size:medium;" mat-cell *matCellDef="let element" style="width: 15%;">
                            <mat-icon *ngIf="element.protectedWork == true" style="color: green;" aria-hidden="false" aria-label="Example home icon">done</mat-icon>
                            <mat-icon *ngIf="element.protectedWork == false" style="color: red;" aria-hidden="false" aria-label="Example home icon">clear</mat-icon>
                        </td>
                    </ng-container>

                    <tr style="font-size:medium;" mat-header-row *matHeaderRowDef="columnsToDisplay2"></tr>
                    <tr style="font-size:medium;" mat-row *matRowDef="let element; columns: columnsToDisplay2;" [ngClass]="{tablerow : element.searchResult === true }"></tr>
                    </table>
                </div>
                </td>
            </ng-container>

            <tr style="font-size:medium;" mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
            <tr style="font-size:medium;" mat-row *matRowDef="let element; columns: columnsToDisplay;"
                class="example-element-row"
                [class.example-expanded-row]="expandedElement === element"
                (click)="expandedElement = element" [ngClass]="{tablerow : element.searchResult === true}">
            </tr>
            <tr style="font-size:medium;" mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row" ></tr>

        </table>

    <mat-paginator style="font-size:small; border: solid 1px lightgray!important;" [pageSizeOptions]="[5]" showFirstLastButtons ></mat-paginator>

</div>
