tr.example-detail-row {
    height: 0;
  }
  
  tr.example-element-row:not(.example-expanded-row):hover {
    background: #f5f5f5;
  }
  
  tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }
  
  .example-element-detail {
    overflow: hidden;
    display: flex;
  }

  td,th.mat-header-cell {
    text-align: center;
  }

  .table-container {
    margin-left: 2%;
    height: 100%!important;
    width: 50%;
    font-size: larger;
    
    background-color: gray;
  }
  
  mat-checkbox ::ng-deep .mat-checkbox-inner-container {width: 20px;height: 20px;}

  .example-radio-group {
    display: flex; flex-direction: column;
    /* display: inline-grid; */ 
    /* display: grid; */
    margin: 15px 0;
  }

.tablerow{
  background: #42A948 !important;
}
  