
<br>
<h1 [routerLink]="['../../help']" fragment="addArc" style="margin-left: 30px;">Add new architect </h1>
<mat-divider></mat-divider>

<div style="padding-top:0.4%; float: left; width: 36%">

  <form  #f="ngForm" (submit)="f.form.valid && addArchitect(f)" style="padding-left: 25px;">

    <mat-form-field appearance="outline" style="font-size:medium;width: 40%;">
      <mat-label>Id: </mat-label>
      <input matInput  [(ngModel)] = "model.id" #id="ngModel"  name="input_id"
              required>
      <mat-error *ngIf="id.invalid && id.errors?.pattern">
        Id field must not be empty!
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" style="font-size:medium;padding-left:25px; width: 40%;">
      <mat-label>Nationality</mat-label>
      <input matInput  [(ngModel)] = "model.nationality" #nationality="ngModel"  name="input_nationality"
             pattern= "[A-Z][a-z]+" required>
      <mat-error *ngIf="nationality.invalid && nationality.errors?.pattern">
        Invalid country name format! Example: Serbian
      </mat-error>
    </mat-form-field>

    <br>

    <mat-form-field appearance="outline" style="font-size:medium;width: 40%">
      <mat-label>Name</mat-label>
      <input matInput  [(ngModel)] = "model.name" #name="ngModel"  name="input_name"
             pattern="[A-Z][a-z]*( [A-Z]?[a-z]*)*" required>
      <mat-error *ngIf="name.invalid && name.errors?.pattern">
        Invalid name format! Example: Tony
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" style="font-size:medium;padding-left: 25px; width: 40%">
      <mat-label>Surname</mat-label>
      <input matInput  [(ngModel)] = "model.surname" #surname="ngModel"  name="input_surname"
             pattern="[A-Z][a-z]*( [A-Z]?[a-z]*)*" required>
      <mat-error *ngIf="surname.invalid && surname.errors?.pattern">
        Invalid surname format! Example: Stark
      </mat-error>
    </mat-form-field>

    <br>

    <mat-form-field appearance="outline" style="font-size:medium;width: 40%">
      <mat-label>Choose a date of birth</mat-label>
      <input #dateBorn="ngModel" [(ngModel)]="model.dateBorn" [max]="years20ago"
             [matDatepicker]="picker1" matInput name="input_year_born" readonly required>
      <mat-datepicker-toggle matSuffix   [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1 ></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline" style="font-size:medium;padding-left: 25px; width: 40%">
      <mat-label>Choose a date of death</mat-label>
      <input #dateDeath="ngModel" [(ngModel)]="model.dateDeath" [max]="today"
             [matDatepicker]="picker2" matInput name="input_year_death" readonly>
      <mat-datepicker-toggle matSuffix   [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2 ></mat-datepicker>
    </mat-form-field>

    <br>
    <br>

    <mat-radio-group style="width:90%; font-size:larger; float: left"  [(ngModel)]="selectedMap" [ngModelOptions]="{standalone: true}"   (change)="selectChanged()" >Select: &nbsp;&nbsp;
      <mat-radio-button [value]="1">Map 1 &nbsp;</mat-radio-button>
      <mat-radio-button [value]="2">Map 2 &nbsp;</mat-radio-button>
      <mat-radio-button [value]="3">Map 3 &nbsp;</mat-radio-button>
      <mat-radio-button [value]="4">Map 4 &nbsp;</mat-radio-button>
    </mat-radio-group>
    <br>
    <br>


    <input #imageInput type="file" (change)="onImg($event)"  style="display:none;"
           accept="image/jpeg, .jpeg, image/png, .png, image/pjpeg, .jpg">


    <button type="button" style="font-size:larger;background-color: limegreen" (click)="imageInput.click()" mat-raised-button>
      <mat-icon >arrow_circle_up</mat-icon> Add photo
    </button>
    &nbsp;
    <button   style="font-size:larger;background-color: tomato" type="button" (click)="removeInput()" mat-raised-button>
      <mat-icon >arrow_circle_down</mat-icon>Remove photo
    </button>
    <br>
    <br>
    <label style="font-size: larger">Photo: </label>
    <br>
    <label style="padding-left: 25px; ">
      <output>
        <img *ngIf="model.photo !== ''" style="width:250px;" [src]="model.photo"  alt="Nothing to preview">
      </output>
    </label>

    <br>
    <br>

    <button mat-raised-button  style="font-size:larger;background-color: limegreen">Add architect</button>

    <br>
    <br>

  </form>

  <br>


</div>

<div style=" padding-top:0.5%; float:right; width: 59%;">
  <div style="height: 550px; width: 900px" ng-controller="DraggingMarkersController"
       leaflet
       [leafletOptions]="options"
       [leafletLayers]="layerMainGroup">
  </div>
  </div>
