<br>
<h1  [routerLink]="['../help']" fragment="demo" style="margin-left: 30px;">Demonstration</h1>
<mat-divider></mat-divider>
<br>


<div style="margin-left: 10%;float: left; width: 40%">
  <h3 >Add architect</h3>
  <video width="400" class="x-video" [src] = "'assets/addArch.mkv'" autoplay [muted]="true" [loop]="true" controls></video>
</div>

<div style="margin-right: 10%; float:right; width: 40%">
  <h3>Add architectural work</h3>
  <video width="400" class="x-video" [src] = "'assets/addArchWork.mkv'" autoplay [muted]="true" [loop]="true" controls></video>
</div>

<br><br>

<div style="margin-left: 10%;float: left; width: 40%">
  <h3>Edit architect</h3>
  <video width="400" class="x-video" [src] = "'assets/editArch.mkv'" autoplay [muted]="true" [loop]="true" controls></video>
</div>

<div style="margin-right: 10%; float:right; width: 40%">
  <h3>Edit architectural work</h3>
  <video width="400" class="x-video" [src] = "'assets/editArchWork.mkv'" autoplay [muted]="true" [loop]="true" controls></video>
</div>
<br><br>
<div style="margin-left: 10%;float: left; width: 40%">
  <h3>Map view</h3>
  <video width="400" class="x-video" [src] = "'assets/map.mkv'" autoplay [muted]="true" [loop]="true" controls></video>
</div>

<div style="margin-right: 10%; float:right; width: 40%">
  <h3>Table view</h3>
  <video width="400" class="x-video" [src] = "'assets/table.mkv'" autoplay [muted]="true" [loop]="true" controls></video>
</div>
