<br>
<h1  [routerLink]="['../help']" fragment="mapView" style="margin-left: 30px;">Maps of Architects and their Works</h1>
<mat-divider></mat-divider>

<div style="float: left;width: 38%;height: 100%;margin-top: 0.4%;margin-left: 1%;">

  <form #f="ngForm">
    <mat-form-field appearance="outline" style="font-size:medium;width: 40%">
    <mat-label>Search</mat-label>
    <input matInput  [(ngModel)] = "searchVal" #value="ngModel"  name="input_value">
    </mat-form-field>

    <button mat-raised-button style="font-size:larger; margin-left:2%"> <mat-icon >search</mat-icon>Search</button>

</form>

  <mat-tab-group dynamicHeight mat-stretch-tabs mat-align-tabs="center"
   style=" width: 100%;height: 100%;margin-bottom: 0px;border: solid black 1px;border-radius: 25px;" appearance="outline">
      <mat-tab  label="Architect filters">
          <div style="margin-top:2%; margin-left: 6%;">
              <mat-checkbox  style="font-size: larger" color="primary">Birth date</mat-checkbox>
              <br>
                  <div style="margin-left: 7%">
                      <mat-form-field appearance="outline" style="font-size:medium;width: 40%;margin-right: 3%;">
                          <mat-label>From</mat-label>
                          <input matInput [matDatepicker]="picker">
                          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                          <mat-datepicker #picker></mat-datepicker>
                      </mat-form-field>

                      <mat-form-field  appearance="outline" style="font-size:medium;width: 40%">
                          <mat-label>To</mat-label>
                          <input matInput [matDatepicker]="picker2">
                          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                          <mat-datepicker #picker2></mat-datepicker>
                      </mat-form-field>
                  </div>
              <mat-checkbox style="font-size: larger"  color="primary">Death date</mat-checkbox>
                  <br>

                  <div style="margin-left: 7%;">
                      <mat-form-field appearance="outline" style="font-size:medium;width: 40%; margin-right: 3%;">
                          <mat-label>From</mat-label>
                          <input matInput [matDatepicker]="picker3">
                          <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                          <mat-datepicker #picker3></mat-datepicker>
                      </mat-form-field>

                      <mat-form-field  appearance="outline" style="font-size:medium;width: 40%">
                          <mat-label>To</mat-label>
                          <input matInput [matDatepicker]="picker4">
                          <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                          <mat-datepicker #picker4></mat-datepicker>
                      </mat-form-field>
                  </div>
              <mat-checkbox style="font-size: larger" color="primary">Nationality</mat-checkbox>
              <br>

                  <div style="margin-left:4%">
                      <mat-form-field appearance="outline" style="font-size:medium;width: 40%;padding-left: 25px; width: 250px;">
                          <mat-label>Pick one</mat-label>
                          <mat-select  [(ngModel)] = "searchVal" name="input_map" #map="ngModel">
                          <!--<mat-option *ngFor="let e of maps" [value]="e"> {{e}}</mat-option>-->
                          <mat-option value = "djed">Deda</mat-option>
                          </mat-select>
                      </mat-form-field>
                  </div>
          </div>
      </mat-tab>
      <mat-tab label="Work filters">
      <div>
          <div style="width: 40%;height:50%;float:left;margin-left:3%;margin-top: 3%;">
                  <mat-checkbox style="font-size: larger" color="primary">Epoch</mat-checkbox>
                      <div style="margin-left:3%;margin-top: 8%;">
                          <mat-form-field appearance="outline" style="padding-left: 25px; font-size:medium;width: 90%">
                              <mat-label>Pick one</mat-label>
                              <mat-select  [(ngModel)] = "searchVal" name="input_map" #map="ngModel">
                              <!--<mat-option *ngFor="let e of maps" [value]="e"> {{e}}</mat-option>-->
                              <mat-option value = "djed">Deda</mat-option>
                              </mat-select>
                          </mat-form-field>
                      </div>
              <mat-checkbox style="font-size: larger" color="primary">World wonder</mat-checkbox>

              <br><br>
                  <mat-radio-group  style="font-size: larger;margin-left: 9%;"  >
                      <mat-radio-button value="0" checked>Yes</mat-radio-button>
                      <mat-radio-button value="1">No</mat-radio-button>
                  </mat-radio-group>
              <br>


          </div>
          <div style="float: right;width: 50%;margin-left: 5%;margin-top: 3%;height: 50%;">
              <mat-checkbox style="font-size: larger" color="primary">Purpose</mat-checkbox>
                  <br>
            <br>
                      <div style="margin-left:3%">
                          <mat-form-field appearance="outline" style="padding-left: 25px; font-size:medium;width: 80%">
                              <mat-label>Pick one</mat-label>
                              <mat-select  [(ngModel)] = "searchVal" name="input_map" #map="ngModel">
                              <!--<mat-option *ngFor="let e of maps" [value]="e"> {{e}}</mat-option>-->
                              <mat-option value = "djed">Deda</mat-option>
                              </mat-select>
                          </mat-form-field>
                      </div>
              <mat-checkbox style="font-size: larger" color="primary">Protected work</mat-checkbox>
              <br><br>
                  <mat-radio-group style="font-size: larger;margin-left: 9%;" >
                      <mat-radio-button value="0" checked>Yes</mat-radio-button>
                      <mat-radio-button value="1">No</mat-radio-button>
                  </mat-radio-group>
              <br>
          </div>
          <div style="float: left; width: 100%;margin-left: 3%;">
            <br>
          <mat-checkbox style="font-size: larger" color="primary">Year built</mat-checkbox>
                  <br>

                  <div style="margin-left: 5%;">
                      <mat-form-field appearance="outline" style="font-size:medium;width:40%;margin-right: 3%;">
                          <mat-label>From</mat-label>
                          <input matInput [matDatepicker]="picker5">
                          <mat-datepicker-toggle matSuffix [for]="picker5"></mat-datepicker-toggle>
                          <mat-datepicker #picker5></mat-datepicker>
                      </mat-form-field>

                      <mat-form-field  appearance="outline" style="font-size:medium;width:40%;">
                          <mat-label>To</mat-label>
                          <input matInput [matDatepicker]="picker6">
                          <mat-datepicker-toggle matSuffix [for]="picker6"></mat-datepicker-toggle>
                          <mat-datepicker #picker6></mat-datepicker>
                      </mat-form-field>
                  </div>
          </div>

      </div>
      </mat-tab>
  </mat-tab-group>

  <br>

  <mat-radio-group  [(ngModel)]="selected_map"  (change)="onItemChange()" style="font-size:larger ">Select: &nbsp;&nbsp;
    <mat-radio-button [value]="1">Map 1 &nbsp;</mat-radio-button>
    <mat-radio-button [value]="2">Map 2 &nbsp;</mat-radio-button>
    <mat-radio-button [value]="3">Map 3 &nbsp;</mat-radio-button>
    <mat-radio-button [value]="4">Map 4 &nbsp;</mat-radio-button>
  </mat-radio-group>

</div>


<div style=" padding-top:0.5%; float:right; width: 59%;">

  <div style="height: 550px; width: 900px" ng-controller="DraggingMarkersController"
       leaflet
       [leafletOptions]="options"
       [leafletLayers]="layerMainGroup">
  </div>

</div>
